<%- include("./includes/head.ejs") %>
<link rel="stylesheet" href="/style/main.css">
<script src="/js/homepage.js" defer></script>
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <%- include("./includes/cartUpdate.ejs") %>
    <div class="wrapper">

        <div class="header">
                <%- include("./includes/header.ejs") %>
        </div>
        <div class="categories">
                <%- include("./includes/Textcarussel.ejs") %>
        </div>
        <div class="carussel">
                <%- include("./includes/carussel.ejs") %>  
        </div>
        <div class="prodImgWrapper">
                <%- include("./includes/prodImg.ejs") %>  
        </div>
        <div class="footer"></div>

    </div>

</body>

</html>